

@foreach (var item in ViewBag.listOfEvents)
{
    <li>@item.Description</li>
    <li>@item.Location</li>
    <li>@item.EventDate</li>

    <a asp-action="/Index" asp-route-id="@item.EventId">View Event Info</a>
}

<p>~Comments~</p>

@foreach (var item in ViewBag.eComments)
{
    <li>@item.Description</li>
    <li>@item.UserId</li>

}